@import url("https://fonts.googleapis.com/css?family=Inter:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:600&display=swap");


@import url("reset.css");



/* /////////////maket-1///////////////////////////////// */


.maket-1 {
	max-width: 1170px;
	margin: 140px auto ;
}
.content {
	max-width: 50%;
	display: inline-block;
}
.sub-title {
	color: #D06B00;
	font-family: Inter;
	font-size: 28px;
	font-weight: 400;
	margin: 21px 0 13px 0;
}
.title {
	color: #0E333D;
	font-family: DM Serif Text;
	font-size: 59px;
	font-weight: 400;
	line-height: 1.46;
	margin-bottom: 25px;
}
.text {
	color: #474747;
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.8;
	margin-right: 38px;
	margin-bottom: 21px;
}
.imeges {
	display: inline-block;
	max-width: 50%;
	vertical-align:top;
}
.img-1 {
	margin-right: 22px;
}

/* /////////////maket-2///////////////////////////////// */

.maket-2{
	max-width: 690px;
	margin: 0 auto ;
	margin-bottom: 50px;
}
.content-column {
	margin-bottom: 40px;
}
.img-3{
	margin-bottom: 37px;
}
.title-2 {
	color: #37393F;
	font-family: Poppins;
	font-size: 30px;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 5px;
}
.text-2 {
	color: #7D7D7D;
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.4;
	margin-bottom: 42px;
}
.sub-title-2 {
	color: #6B77E5;
	font-family: Poppins;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 10px;
}


.content-row {}
.img-4{
	max-width: 50%;

}
.content-2 {
	max-width: 50%;
	display: inline-block;
	padding-left: 30px;
}
.title-3 {
	color: #37393F;
	font-family: Poppins;
	font-size: 25px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 15px;
	}
.sub-title-3 {
	color: #40DDB6;
	font-family: Poppins;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 23px;
}
.list li{
	color: #7D7D7D;
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 44px;
}
